**/bin/
**/obj/
**/.next/
**/node_modules/
**/.git/
**/.vs/
**/TestResults/
**/dp-keys/
**/*.user
**/*.md
!README.md
.dockerignore
docker-compose*.yml
deploy/
frontend/
tests/
scripts/
docs/
.env*
*.md
